<!DOCTYPE html>
<html lang="es-CO">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Previsualización de certificado académico">
    <meta name="author" content="Institución Educativa Nuestra Señora de chiquinquirá">
    <meta name="keywords" content="certificado escolar, institución educativa, Roldanillo, 2025">
    <title>Certificado Escolar</title>
    <link rel="stylesheet" href="../assets/css/certificate.css" />
    <script type="application/javascript" src="../assets/js/scroll.js"></script>
</head>

<body>

    <header class="site-header animate-top">
        <nav>
            <h1>Aplicación nombre</h1>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Menú</a></li>
                <li><a href="#">Perfil</a></li>
                <li><a href="#">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>

    <main class="site-main">
        <section class="certificate reveal-on-scroll">
            <div class="certificate-header">
                <picture class="logos">
                    <img src="../assets/images/logos/Colombia-escudo.svg" alt="Escudo Colombia - Gobierno nacional"
                        title="Escudo Nacional de Colombia" class="logo" />
                </picture>
                <div class="institution">
                    <h2>INSTITUCIÓN EDUCATIVA NUESTRA SEÑORA DE CHIQUINQUIRÁ</h2>
                    <p>DEPARTAMENTO DEL VALLE DEL CAUCA – MUNICIPIO DE ROLDANILLO</p>
                </div>
                <picture class="logos">
                    <img src="../assets/images/logos/IENSC-escudo.jpg" alt="Escudo de la institución educación IENSC"
                        title="Escudo de la institución educativa" class="logo" />
                </picture>
            </div>

            <h3>CERTIFICA:</h3>

            <p>
                Que el estudiante <strong>ISABELLA GOMEZ CASTRO</strong> cursó y aprobó
                <strong>el grado quinto</strong> de educación básica primaria en la jornada
                diurna (mañana continua) durante el año lectivo 2024.
                <br />
                <br />
                Sede: <strong>TOMAS</strong>
            </p>

            <table>
                <thead>
                    <tr>
                        <th>ÁREAS Y/O ASIGNATURAS</th>
                        <th>I.H.S</th>
                        <th>CONCEPTO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ciencias Naturales Educación Ambiental</td>
                        <td>4</td>
                        <td>Desempeño EXCELENTE</td>
                    </tr>
                    <tr>
                        <td>Ciencias Sociales: Historia, Const. Política</td>
                        <td>4</td>
                        <td>Desempeño BUENO</td>
                    </tr>
                    <tr>
                        <td>Educación Artística</td>
                        <td>2</td>
                        <td>Desempeño BUENO</td>
                    </tr>
                    <tr>
                        <td>Ética y Valores</td>
                        <td>2</td>
                        <td>Desempeño BUENO</td>
                    </tr>
                    <tr>
                        <td>Educación Religiosa</td>
                        <td>1</td>
                        <td>Desempeño EXCELENTE</td>
                    </tr>
                    <tr>
                        <td>Humanidades - Español</td>
                        <td>4</td>
                        <td>Desempeño BUENO</td>
                    </tr>
                    <tr>
                        <td>Humanidades - Inglés</td>
                        <td>1</td>
                        <td>Desempeño BUENO</td>
                    </tr>
                    <tr>
                        <td>Matemáticas</td>
                        <td>5</td>
                        <td>Desempeño BUENO</td>
                    </tr>
                    <tr>
                        <td>Tecnología e informática</td>
                        <td>1</td>
                        <td>Desempeño EXCELENTE</td>
                    </tr>
                    <tr>
                        <td>COMPORTAMIENTO SOCIAL</td>
                        <td></td>
                        <td>Desempeño EXCELENTE</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <p class="certificate-footer">
                Promovido(a) al grado: <strong>SEXTO</strong>
                <br />
                <br />
                Se expide en la Institución Educativa Nuestra Señora de chiquinquirá
                sede principal, a los CINCO (05) días del mes de mayo de 2025.
            </p>

            <button class="print-button" onclick="window.print()">Imprimir Certificado</button>
        </section>
    </main>

    <footer class="site-footer animate-bottom">
        <p>© 2025 Institución educativa Nuestra Señora de chiquinquirá
            | Todos los derechos reservados</p>
    </footer>

</body>

</html>